<!DOCTYPE html>
<html>
<title>Song Analytics</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body background="static/background10.jpg">
<body>

<!-- Sidebar with image -->
<div>
  <div class="w3-content w3-section" style="float:left;width:40%;">
    <img class="mySlides" src="static/1960.png" style="width:100%">
    <<img class="mySlides" src="static/1970.png" style="width:100%">
    <img class="mySlides" src="static/1980.png" style="width:100%">
    <img class="mySlides" src="static/1990.png" style="width:100%">
    <img class="mySlides" src="static/2000.png" style="width:100%">
    <img class="mySlides" src="static/2010.png" style="width:100%">
  </div>

  <script>
  var myIndex = 0;
  carousel();

  function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 2000); // Change image every 2 seconds
  }
  </script>



  <!-- Page Content -->
  <div class="w3-main w3-padding-large" style="float:right;width:50%;">

    <!-- Menu icon to open sidebar -->
    <span class="w3-button w3-top w3-white w3-xxlarge w3-text-grey w3-hover-text-black" style="width:auto;right:0;" onclick="openNav()"><i class="fa fa-bars"></i></span>

    <!-- Header -->
    <header class="w3-container w3-center" style="padding:128px 16px" id="home">
      <h1 class="w3-jumbo"><b>OOOOPS</b></h1>
      <p>Sorry we couldn't predict the danceability based on the input. Make sure the input string is text with length longer than 10.</p>
      <a href="{{url_for('home')}}"> Go back to home</a>
<!--       <form action="/home" method="POST">
        <button type="button" onclick="alert('Return to the home page')">Home</button>
      </form> -->
    </header>

    
  <!-- END PAGE CONTENT -->
  </div>

</div>

</body>
</html>
